.addItem{
    margin-top: 100px;
}

.modal-body {
    position: relative;
    /*overflow-y: auto;*/
    max-height: 700px;
    padding: 15px;
}

.modal-dialog{
    position: relative;
    max-width: 800px;
    padding: 15px;
}