.fa-calendar{
    color: indianred;
}

.fa-envelope{
    color: #00a7d0;
}

.fa-gear{
    color: grey;
}

.fa-user-plus{
    color: #1b6d85;
}

.modal-body {
    position: relative;
    /*overflow-y: auto;*/
    max-height: 700px;
    padding: 15px;
}

.modal-dialog{
    position: relative;
    /*overflow-y: auto;*/
    max-width: 450px;
    padding: 15px;
}


/*JOIN A GROUP CSS*/
.joinModal{
    margin-top: 150px;
}

.dialog-join{
    position: relative;
    /*overflow-y: auto;*/
    max-width: 350px;
    padding: 15px;
}

.modal-join{
    position: relative;
    /*overflow-y: auto;*/
    max-height: 300px;
    padding: 15px;
}

/*END OF JOIN GROUP CSS*/

.nav-tabs li a:hover{
    background-color: transparent;
    text-decoration: underline;
}

.well{
    background-color: white;
}